@model IEnumerable<LTWeb_Bai02.Models.SACH>

@{
    ViewBag.Title = "Danh mục sách";
}

<h2>QUẢN LÝ THÔNG TIN SÁCH</h2>

<p>
    @Html.ActionLink("Thêm sách mới", "ThemSach", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Tên sách</th>
            <th>Giá bán</th>
            <th>Mô tả</th>
            <th>Ảnh bìa</th>
            <th>Ngày cập nhật</th>
            <th>Số lượng tồn</th>
            <th>Mã chủ đề</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenSach</td>
                <td>@String.Format("{0:N0} ₫", item.GiaBan)</td>
                <td>@item.MoTa</td>
                <td>
                    <img src="@item.AnhBia" width="100" height="150" />
                </td>
                <td>@item.NgayCapNhat</td>
                <td>@item.SoLuongTon</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "ChiTiet", new { id = item.MaSach.Trim() })|
                    @Html.ActionLink("Sửa", "SuaSach", new { id = item.MaSach.Trim() })|
                    @Html.ActionLink("Xóa", "XoaSach", new { id = item.MaSach.Trim() })
                </td>
            </tr>
        }
    </tbody>
</table>
