@model LTWeb_Bai01.Models.Theloaitin
@{
    ViewBag.Title = "Thêm thể loại mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm thể loại mới</h2>

<form action="/Home/Create" method="POST">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Theloaitin</legend>
        <div class="editor-label">
            Mã Thể Loại
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDLoai)
            @Html.ValidationMessageFor(model => model.IDLoai)
        </div>
        <div class="editor-label">
            Tên Thể Loại
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tentheloai)
            @Html.ValidationMessageFor(model => model.Tentheloai)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
